.contact-title{
    margin-top: 10%;
    padding: 10px 0;
    font-size: 25px;
    font-weight: lighter;
    max-width: 700px;
    color: white;
    margin-left: 3%;
    margin-right: 3%;

}


.contat-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}



@media  screen and (max-width: 760px) {
    
}